# Python
__pycache__/

# Libraries and Models
CLIP/
taming-transformers/
taming/
checkpoints/

# Editor
.vscode/

# Operations
outputs/
inputs/
steps/

# local place dependencies
CLIP
taming-transformers

# Files
output.png
steps.mp4
com.txt

# Cog
.cog
