### THIS IS THE SAME AS REQUIREMENTS.TXT but with a different version of cuda (102) for cog

# these are minimal requirements for just the VQGAN drawer

-f https://download.pytorch.org/whl/torch_stable.html
torch==1.9.0+cu102
torchvision==0.10.0+cu102
torchtext==0.10.0

numpy==1.19.4
tqdm==4.49.0
matplotlib==3.3.4
braceexpand==0.1.7
colorthief==0.2.1
einops==0.3.2
imageio==2.9.0
ipython==7.28.0
kornia==0.6.2
omegaconf==2.1.1
Pillow==8.3.2
PyYAML==5.4.1
scikit_learn==1.0
scikit-image==0.18.3
torch_optimizer==0.1.0
torch-tools==0.1.5

# can use CompVis/taming-transformers when https://github.com/CompVis/taming-transformers/pull/81 is merged
git+https://github.com/bfirsh/taming-transformers.git@7a6e64ee
git+https://github.com/openai/CLIP@40f5484
git+https://github.com/pvigier/perlin-numpy@6f077f8

# diffvg: these are minimal requirements for just the pixeldraw / linedraw etc drawers

# DO THIS: "git clone https://github.com/pixray/diffvg && cd diffvg && git submodule update --init --recursive && CMAKE_PREFIX_PATH=$(pyenv prefix) DIFFVG_CUDA=1 python setup.py install"
cmake==3.21.3
cssutils==2.3.0
svgpathtools==1.4.2


# fft: these are IN ADDITION to the core requirements_vqgan.txt

lpips
sentence_transformers
opencv-python
PyWavelets==1.1.1
git+https://github.com/fbcotter/pytorch_wavelets

# main aphantasia library
git+https://github.com/pixray/aphantasia@7e6b3bb

# slip
timm

# resmem loss
resmem
